body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #3a5a40;
    padding: 8px 16px;
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    margin: 0 8px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #d8e2dc;
}

nav a:hover {
    background-color: #324d37;
    cursor: pointer;
}

main {
    padding: 16px;
    width: fit-content;
    margin-top: 3rem;
}

.tab-content {
    display: none;
    width: fit-content;
}

.tab-content.active {
    display: block;
}
.text-center{
    text-align: center;
}
.army-green {
    color: #3a5a40;
}
.jc-evenly{
    justify-content: space-evenly;
}
.generic-btn {
    width: 10rem;
    height: 3rem;
    background: #d8e2dc;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    border: unset;
    color: #3a5a40;
}
.generic-btn:hover {
    background-color: #dad7cd;
}
.mt-4{
    margin-top: 4rem;
}
.w-100{
    width: 100%;
}