body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004d40;
    padding: 8px 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    margin: 0 8px;
    padding: 8px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #00796b;
    cursor: pointer;
}

main {
    padding: 16px;
    width: fit-content;
    margin-top: 3rem;
}

.tab-content {
    display: none;
    width: fit-content;
}

.tab-content.active {
    display: block;
}
